body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #25283d;
  font-size: 1.1em;
  background: #efd9ce; }

#hero {
  color: #fff;
  background: #6a2d63;
  height: 100vh; }
  #hero h1 {
    margin: 0; }
  #hero div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #hero a:hover {
    color: #efd9ce; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #a675a1; }
  a:hover {
    color: #6a2d63; }

ul {
  padding: 0; }

li {
  list-style: none; }

#portfolio img {
  width: 50%; }
  #portfolio img:hover {
    box-shadow: 1px 1px 2px 1px rgba(106, 45, 99, 0.5), -1px -1px 2px 1px rgba(106, 45, 99, 0.5);
    transition: box-shadow 150ms ease-out; }

#portfolio figure {
  margin: 0;
  padding: 3%; }

#portfolio #folio-items figure:nth-child(even) {
  background: #a675a1; }
  #portfolio #folio-items figure:nth-child(even) a {
    color: #efd9ce; }
    #portfolio #folio-items figure:nth-child(even) a:hover {
      color: #6a2d63; }

#contact {
  background: #25283d;
  color: #efd9ce;
  padding: 2rem 0; }
  #contact h1 {
    margin: 0;
    padding: 1rem; }
  #contact ul {
    margin: 0;
    padding-bottom: 1rem; }
