body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #25283d;
  font-size: 1.1em;
  background: #efd9ce; }

.nav {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #efd9ce;
  background: #25283d;
  border-radius: 100%;
  z-index: 1;
  height: 40px;
  width: 40px;
  border: 0;
  visibility: hidden; }
  .nav:hover {
    opacity: 1; }

.showButton {
  visibility: visible;
  opacity: 0.8;
  transition: opacity 150ms ease-out; }

.hideButton {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s ease-out 150ms, opacity 150ms ease-out; }

#hero {
  color: #fff;
  background: #6a2d63;
  height: 100vh; }
  #hero h1 {
    margin: 0; }
  #hero div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 250px; }
  #hero button {
    bottom: 0;
    left: 0;
    position: absolute;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    padding: 10px 0;
    background: none;
    border: 0;
    color: #fff; }
    #hero button:hover {
      background: #a675a1;
      transition: background 200ms ease-out; }
  #hero span {
    display: inline-block;
    animation: 2s infinite bounce;
    animation-delay: 1s; }
  #hero a:hover {
    color: #efd9ce;
    transition: color 200ms ease-out; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

a {
  text-decoration: none;
  font-weight: bold;
  color: #a675a1; }
  a:hover {
    color: #6a2d63;
    transition: color 200ms ease-out; }

ul {
  padding: 0; }

li {
  list-style: none; }

@keyframes bounce {
  0%, 20%, 40%, 100% {
    transform: translateY(0); }
  10% {
    transform: translateY(10px); }
  30% {
    transform: translateY(5px); } }

#portfolio p {
  padding: 0 2vh; }

#portfolio img {
  width: 70%;
  max-width: 500px; }
  #portfolio img:hover {
    box-shadow: 1px 1px 2px 1px rgba(106, 45, 99, 0.5), -1px -1px 2px 1px rgba(106, 45, 99, 0.5);
    transition: box-shadow 150ms ease-out; }

#portfolio figure {
  margin: 0;
  padding: 5vh 3%; }
  #portfolio figure h3 {
    margin: 1rem; }

#portfolio #folio-items figure:nth-child(even) {
  background: #a675a1; }
  #portfolio #folio-items figure:nth-child(even) a {
    color: #efd9ce; }
    #portfolio #folio-items figure:nth-child(even) a:hover {
      color: #6a2d63; }

#contact {
  background: #25283d;
  color: #efd9ce;
  padding: 2rem 0; }
  #contact h1 {
    margin: 0;
    padding: 1rem; }
  #contact ul {
    margin: 0;
    padding-bottom: 1rem; }
