#contact {
    background: $offblack;
    color: $peach;
    padding: 2rem 0;

    h1 {
        margin: 0;
        padding: 1rem;
    }

    ul {
        margin: 0;
        padding-bottom: 1rem;
    }
}