header {
  background: #000;
  box-shadow: 0 3px 5px $darkgray;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 5px 0;
}
nav {
  text-align: center;
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      padding: 1px 3px;
      background: $darkblue;
      border-radius: 5px;
      &:hover {
        background: $red;
      }
      &:active {
        background: #E7574E;
        box-shadow: inset 1px 1px 2px #2F1210, inset -1px -1px 2px #2F1210;
      }
    }
  }
  a {
    text-decoration: none;
    color: $offwhite;
    font-weight: normal;
    &:hover {
      color: $offwhite;
    }
  }
}

.active {
  background: $red;
}
.inactive {
  background: $darkblue;
}
