.portfolio-item {

  column-count: 1;
  img {
    width: 80%;
  }

  @media (min-width: 768px) {
    column-count: 2;
  }

  @media (min-width: 1280px) {
    column-count: 3;
    img {
      width: 50%;
    }
  }

}
