#portfolio {
  background: $peach;

  h1 {
    padding: 3vh 2vw;
    margin: 0;
  }

  p {
    padding: 0 2vw;
    margin: 0;
  }

  img {
    width: 70%;
    max-width: 500px;
      &:hover {
      box-shadow: 1px 1px 2px 1px rgba(106, 45, 99, 0.5), -1px -1px 2px 1px rgba(106, 45, 99, 0.5);
      transition: box-shadow 150ms ease-out;
    }
  }

  figure {
    margin: 0;
    padding: 5vh 3%;

    h3 {
      margin: 1rem;
    }
  }

  #folio-items figure:nth-child(even) {
    background: $lightpurple;
      a {
        color: $peach;
        &:hover {
          color: $magenta;
        }
      }
  }
}