$offwhite: #f7f7ff;
$darkgray: #495867;
$lightblue: #bdd5ea;
$darkblue: #7284a8;
$red: #fe5f55;

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background: linear-gradient(0deg, #D8DDE7 5%, #E5E8EF 10%, $offwhite 15%, $offwhite) no-repeat fixed;
  background-position: bottom fixed;
  color: $darkgray;
  font-size: 1.1em;
  height: 100vh;
}

main {
  padding: 20px 3% 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Francois One', sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $darkblue;
  &:hover {
    color: $red;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

@import 'animate';
@import 'nav';
@import 'portfolio';
@import 'about';
