$magenta: rgba(106, 45, 99, 1);
$offblack: rgba(37, 40, 61, 1);
$lightpurple: rgba(166, 117, 161, 1);
$salmon: rgba(206, 162, 172, 1);
$peach: rgba(239, 217, 206, 1);

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: $offblack;
  font-size: 1.1em;
  background: $peach;
}

.nav {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: $peach;
  background: $offblack;
  border-radius: 100%;
  z-index: 1;
  height: 40px;
  width: 40px;
  border: 0;
  visibility: hidden;
  &:hover {
    opacity: 1;
  }
}

.showButton {
  visibility: visible;
  opacity: 0.8;
  transition: opacity 150ms ease-out;
}

.hideButton {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s ease-out 150ms, opacity 150ms ease-out;
}

#hero {
  color: #fff;
  background: $magenta;
  height: 100vh;
  
  h1 {
    margin: 0;
  }

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 250px;
  }

  button {
    bottom: 0;
    left: 0;
    position: absolute;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    padding: 10px 0;
    background: none;
    border: 0;
    color: #fff;

    &:hover {
      background: $lightpurple;
      transition: background 200ms ease-out;
    }
  }

  span {
    display: inline-block;
    animation: 2s infinite bounce;
    animation-delay: 1s;
  }

  a:hover {
    color: $peach;
    transition: color 200ms ease-out;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $lightpurple;
  &:hover {
    color: $magenta;
    transition: color 200ms ease-out;
  }
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

@keyframes bounce {
  0%, 20%, 40%, 100% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(10px);
  }
  30% {
    transform: translateY(5px);
  }
}

@import 'portfolio';
@import 'contact';
