<section>
	<h2>Who am I?</h2>
	<p>I'm J-C! I graduated from the University of Michigan in 2015 with a major in psychology and a minor in business. I spent some time in HR, but realized that wasn't wasn't the right fit for me, and that what I actually wanted to do was be a developer. This past winter I graduated from Grand Circus's front-end bootcamp, and currently I'm the teaching assistant for that class.</p>
</section>
<section>
	<h2>What do I do?</h2>
	<p>Ultimately, I want to do more than just front-end. Since graudating, I've taught myself more languages and frameworks as well, such as PHP and MySQL. My skillset includes:</p>
	<ul id = "skills">
		<li>HTML5</li>
		<li>CSS3/Sass</li>
		<li>JavaScript</li>
		<li>Angular JS</li>
		<li>NodeJS</li>
		<li>jQuery</li>
		<li>PHP</li>
		<li>MySQL/PostgreSQL</li>
		<li>Git/GitHub</li>
	</ul>
</section>
